# This is a basic workflow to help you get started with Actions

name: Build and Publish Docker Image

# Controls when the action will run.
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
    paths-ignore:
      - .github/**
      - helm/**
      - terraform/**
      - .gitignore
      - .pre-commit-config.yaml
      - CODEOWNERS
      - Makefile
      - README.md
    tags: [ '*' ]
    ignore-paths:
      - terraform/**


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  buildprodimage:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tag') || github.event_name == 'push' }}
    steps:
      - name: Clone
        uses: actions/checkout@v2
      - name: Prod Build
        uses: docker/build-push-action@v1
        with:
          build_args: PYPI_DEPLOY_TOKEN=${{ secrets.PYPI_DEPLOY_TOKEN }}
          repository: nearcrafter/nearcrafter
          registry: rg.fr-par.scw.cloud
          username: nologin
          password: 83a80f6b-5a23-4931-913f-8e1e478dfd27
          tag_with_ref: true
